.col{
    color: yellow;
}
.banner_image{
    /* modification by madhumitha */
   margin-top: 0px;
 padding-bottom: 50px;
 text-align: center;
 color: #f8f8f8;
 background: url(websiteimages/intro-bg_1.jpg) no-repeat center center;
 background-size: cover;
 height:600px;
}
.banner_content{
    margin-top:12%;
 margin-bottom:12%;
    background-color: rgba(0,0,0,0.7);
    max-width:660px;
    padding-top:6%;
    padding-bottom:6%;
    /* height:100%; */
}
footer{
    background-color: black;
    color:white;
    padding-top:10px;
    margin-bottom:0%;
}
.row-style{
    margin-top:12%;
}
th{
    background-color: #ececec;
    
}

.signup_img{
    background-image: url(websiteimages/sign.jpg);
 background-repeat: no-repeat;
background-size: cover;   
}
    
.bottom{
    margin-bottom: -10px;
    width:100%;
}

.thumbnail{
    height: 370px;
    height:fit-content;
    padding-bottom: 50px;
}

.btn{
    margin-bottom:-10px;
}
.thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    height: 153px;
}
.padd{
    margin-top: 12px;
    margin-left: 2px;
}
.shippingimg{
    height: 592px;
}
.extra{
    color:dimgray;
    font-size: larger;
}